.App {
    display: grid;
    transition-duration: 0.5s;
    grid-template-rows: 1fr 1fr 1fr;
    /*grid-template:*/
    /*    'screen'*/
    /*    'error'*/
    /*    'buttonsBar'*/
    /*    'toolsBar';*/
    text-align: center;
    height: 120px;
    border: 2px solid dodgerblue;
    width: 300px;
    margin: 20px auto;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    background-color: rgba(150, 165, 246, 0.22);
}

.AppToolsEnabled {
    height: 200px;
}

